.Auth {
    margin: 20px auto;
    width: 80%;
    text-align: center;
    box-shadow: 0 2px 3px #ccc;
    border: 1px solid #eee;
    padding: 10px;
    box-sizing: border-box;
}

.Auth input {
    width: 100%;
    outline: none;
    border: 1px solid #ccc;
    background-color: white;
    font: inherit;
    padding: 6px 10px;
    display: block;
    box-sizing: border-box;
}
.Auth input:focus {
    outline: none;
    background-color: #ccc;
}

.Auth button {
    background-color: transparent;
    box-shadow: 0 2px 3px #ccc;
    border: 1px solid #eee;
    color: black;
    outline: none;
    cursor: pointer;
    font: inherit;
    padding: 10px;
    margin: 10px;
    font-weight: bold;
}

.Auth button:hover{
    outline: none;
    background-color: #ccc;
}

.Auth button:active{
    background-color: white;
    box-shadow: none;
    border: 1px solid #eee;
}

@media (min-width: 600px) {
    .Auth {
        width: 500px;
    }
}